version: '3.8'

services:
  app:
    build: ./app
    deploy:
      replicas: 3
    expose:
      - "5000"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
